  html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    color: rgb(252, 0, 0) ;
}
h6{
    color: rgb(252, 0, 0) ;
}
 